#report-list-container {
    width: 30%;
    padding: 0.7em;
    background-color: rgb(233, 233, 233);
    margin-top: 1em;
    border-radius: 0.5em;
    border: 1px solid rgb(165, 165, 165);
    margin-left: 1em;

    /* shadow */
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    /* ----- */
}