body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.thread{
  margin: 1em;
  margin-left: 6vw;
  width: 60vw;
  border: 1px solid gray;
}

.threadHeader{
  margin-left: .5vw;
  display: flex;
  justify-content: flex-start;
}

.threadHeader > * {
  margin: 5px;
}

.threadTitle{
  font-size: large;
  font-weight: bold;
}

.threadMain > * {
  text-align: left;
  width: 98%;
  height: 20vh;
  border: 1px solid gray;
  margin: 1%;
}

.threadFooter{
  width: 100%;
  margin-bottom: 5px;
  display: flex;
}

.threadSocialButtons{
  width: 28%;
  display: flex;
  justify-content: space-evenly;
}

.newThread{
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gray;
}

.newThread > input {
  width: 98%;
  margin: 1%;
}

.newThread > textarea {
  width: 98%;
  height: 8em;
  margin: 1%;
}

.newThread > label {
  margin-left: 1%;
}